.outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.my-card {
  background-color: #ffffff;
  box-shadow: 0px 6px 6px #00000029;
  border-radius: 6px;
  width: 400px;
  padding: 30px;
}

.form-logo-wrapper {
  margin-bottom: 30px;
}

.form-logo {
  width: 48px;
  height: 63px;
}

.login-button-wrapper {
  margin: 30px 0px;
  width: 100%;
}

.login-button {
  background-color: #26a69a;
  color: #ffffff;
  font-weight: bolder;
  font-size: 14px;
  box-shadow: 0px 2px 4px #00000029;
  border-radius: 4px;
  width: 100%;
  height: 40px;
}
